.main-footer {
    min-height: 52px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;
    padding: 12px 22px;

    background: var(--white);
    border-top: 1px solid var(--border-color);

    color: var(--muted-text);
    font-size: 11px;
}

.main-footer strong {
    color: var(--text-color);
}
