.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    min-width: 650px;

    border-collapse: collapse;

    font-size: 12px;
}

.data-table th,
.data-table td {
    padding: 11px 12px;

    border: 1px solid var(--border-color);

    text-align: left;
    vertical-align: middle;

    white-space: nowrap;
}

.data-table th {
    background: #f5f6f8;
    font-weight: 700;
}

.data-table td {
    background: var(--white);
}

.empty-row td {
    padding: 28px 15px;
    text-align: center;
    color: var(--muted-text);
}
